.dashboard-topbar {
  grid-area: topbar;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-40);
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: var(--default-border);
}

.dashboard-topbar__input-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.dashboard-topbar__input {
  padding: 0;
  width: 100%;
  border: none;
  max-width: 400px;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: var(--grey-900);
  background-color: transparent;
}

.dashboard-topbar__input::placeholder {
  color: var(--grey-600);
}

.dashboard-topbar__input__icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--grey-500);
}

.dashboard-topbar__input:focus {
  outline: none;
}

.dashboard-topbar__info-hub {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.dashboard-topbar__info-hub__icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: var(--default-transition);
}

.dashboard-topbar__info-hub__icon:hover {
  opacity: 0.8;
}
