.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'topbar' 'content';
}

.dashboard__content {
  grid-area: content;
  padding: var(--spacing-20);
  background-color: var(--white);
}

@media (min-width: 1024px) {
  .dashboard {
    grid-template-areas:
      'sidebar topbar topbar topbar topbar'
      'sidebar content content content content'
      'sidebar content content content content'
      'sidebar content content content content'
      'sidebar content content content content';
    grid-template-columns: 270px repeat(4, 1fr);
    grid-template-rows: 60px repeat(4, 1fr);
  }
}
